* {
  box-sizing: border-box;
}


/* navigation flex */
.nav-links {
  display: flex;
}

/* containers and padding */
.container-header,
.container {
  display: flex;
  flex-direction: column;
}

.container {
  padding: 0 24px;
}

/* --- header --- */
.header {
  padding: 24px;
}

/* flex */
.header,
.main-nav {
  display: flex;
}

.header {
  width: 100%;
  z-index: 15;
  background-color: white;
  position: fixed;
}

/* logo */
.logo {
  margin-right: auto;
}


/* --- hero image and intro text --- */
.hero-img {
  margin-top: -50px;

  width: 100%;
  height: auto;
  z-index: -1;

  background-image: url(../img/bg-intro-mobile.svg);
  background-repeat: no-repeat;
  background-size: 100% 117%;
}

/* intro text */
.intro-text {
  margin: 0 16px;
  text-align: center;
}

/* button for intro text  */

.btn {
  padding: 16px;
  width: 240px;
  color: var(--White);
  font-weight: 700;

  background: linear-gradient(to left, hsl(192, 70%, 51%), hsl(136, 65%, 51%));
  border-color: inherit;
  border-radius: 50px;

}

/* main body of inforation  */
.main-bg {
  background-color: var(--LightGrayishBlue);
  margin-top: 64px;
  padding-top: 64px;
}

.main-text {
  text-align: center;
}

/* icons for main  */

.icons {
  margin-top: 24px;
  margin: auto;
}

/* --- media queries --- */

@media (min-width: 745px) {

  /* navigation  */
  .nav-links a,
  .nav-links li {
    text-decoration: none;
    list-style-type: none;
  }

  .nav-links a {
    padding: 0 16px;
    color: var(--GrayishBlue);
  }

  .hamburger-menu {
    display: none;
  }


  /* container header */
  .container-header {
    flex-direction: row;
    align-items: center;
  }

  /* main image home */
  .hero-img {
    background-image: url(../img/bg-intro-desktop.svg);
    background-size: 142% 100%;
    z-index: 2;
    width: 60%;
    order: 1;
    margin-left: auto;
  }

  /* background color for main */
  .main-bg {
    margin-top: -50px;
    padding-top: 64px;
  }

  /* intro main home text  */
  .intro-text {
    text-align: left;
    max-width: 40%;
  }

  .main-text {
    text-align: left;
  }

  /* container for icons in main  */

  .container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .intro-text {
    order: -1;
  }

  .col-1 {
    width: 100%;
  }

  .col-2,
  .col-3,
  .col-4,
  .col-5 {
    max-width: 200px;
  }
}

@media (min-width: 1200px) {
  .intro-text,
  .container {
    padding: 0 48px;
  }

  .hero-img {
    width: 40%
  }

}
