* {
  box-sizing: border-box;
}

/* containers and padding */
.container {
  padding: 0 24px;
}

/* --- header --- */
.header {
  padding: 24px;
}

/* flex */
.header,
.main-nav {
  display: flex;
}

.header {
  width: 100%;
  z-index: 15;
  background-color: white;
  position: fixed;
}

/* logo */
.logo {
  margin-right: auto;
}


/* --- hero image and intro text --- */
.hero-img {
  margin-top: -50px;

  width: 100%;
  height: 100%;
  z-index: -1;

  background-image: url(../img/bg-intro-mobile.svg);
  background-repeat: no-repeat;
  background-size: 100% 117%;
}

/* intro text */
.intro-text {
  margin: 0 16px;
  text-align: center;
}

/* button for intro text  */
.btn {
  padding: 16px;
  width: 240px;
  color: var(--White);
  font-weight: 700;

  background: linear-gradient(to left, hsl(192, 70%, 51%), hsl(136, 65%, 51%));
  border-color: inherit;
  border-radius: 50px;

}


/* main body of inforation  */
.main-bg {
  background-color: var(--LightGrayishBlue);
  margin-top: 64px;
  padding-top: 64px;
}

.main-text {
  text-align: center;
}

/* icons for main  */

.icons {
  margin-top: 24px;
}
